.modalBlack {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.3);
  height: 100%;
  width: 100%;
}

.modalPos {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 400px;
  background-color: white;
  box-shadow: 0 0 10px 2px black;
  border-radius: 16px;
}

.modalContent {
  padding: 20px;
}
